/*  Classe qui est le conteneur de tous les carte */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

