@font-face {
    font-family: 'SportingFont';
    src: url('../../assets/autre/Sporting.ttf');
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}