nav {
    color: var(--bleu-compagnie);
    background-color: var(--bleu-de-fond);
    height: 100px;
    width: 100%;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    /*margin-bottom: 1rem;*/
}

nav a {
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: inherit; 
    position: relative;
    padding: 4px 0;
    margin: 0 15px;
}

/* Ligne de hover */
nav a::after {
    content: '';
    position: absolute;width: 100%;
    height: 2px;
    bottom: 0; left: 0;
    background-color: #7c93d3;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.1s linear;
    
}

nav a:hover {
    color: #7c93d3;
}

nav a:hover::after {
    transform: scaleX(1);
}