/* Fichier css contant les changements de bases de la page. Comme * margin: 0 ou les ajustement pour etre adapte a tous les navigateurs */

* {
  margin: 0;
  padding: 0;
}

:root {
  --bleu-compagnie: #344471;
  --rouge-compagnie: #D80C31;
  --gris-compagnie: #C4C3C4;
}