/* Fichier css contant les changements de bases de la page. Comme * margin: 0 ou les ajustement pour etre adapte a tous les navigateurs */

* {
  margin: 0;
  padding: 0;
  cursor: default;
}

a, input, button {
  cursor: pointer;
}

:root {
  --bleu-compagnie: #344471;
  --rouge-compagnie: #D80C31;
  --gris-compagnie: #C4C3C4;

  --bleu-lecture: #00313D;
  --bleu-lecture-hover: #008aab;

  --bleu-de-fond: #afc0ee;

  --almost-white: #F5F5F5;
}

.row {
  display: flex; flex-direction: row;
}

.col {
  display: flex; flex-direction: column;
}

.centered {
  align-items: center; justify-content: center;
}

.ligne {
  background-color: var(--bleu-lecture);
  height: 2px;
  width: 75%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}